* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.card h3 {
  font-size: 24px;
  position: absolute;
  bottom: 25px;
  left: 15px;
  opacity: 0;
}

.card.active {
  flex: 1.2;
}

.card.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media only screen and (max-width: 1050px) {
  .container {
    width: 95vw;
  }
  .card:nth-last-of-type(1) {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    width: 100vw;
  }
  .card:nth-last-of-type(2) {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .container {
    width: 100vw;
  }
  .card:nth-last-of-type(3) {
    display: none;
  }
}
